.productDetails {
  display: flex;
  gap: 20px;
  margin: 20px;
  padding: 20px;
  align-items: start;
  background-color: #FFFFFF;

}

.imageContainer {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mainImageContainer {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.mainImage {
  width: 100%;
  height: auto;
}

.thumbnailContainer {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.thumbnailImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.thumbnailImage:hover {
  border-color: #007bff;
}

.productInfo {
  flex-basis: 50%;
  text-align: left;
}

.productName {
  font-size: 2em;
 margin-bottom: 1rem;
}

.productDescription {
  color: #666;
  font-size: 1em;
}

.productPrice {
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.decrement, .increment {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.quantityInput {
  width: 50px;
  text-align: center;
  line-height: 30px; /* Add this line */
  height: 30px; /* Add this line */
}

.increment {
  margin-left: -5px; /* Adjust this value to move the "+" button to the left */
}

.quantityInput::-webkit-inner-spin-button,
.quantityInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addToCartButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  width: 33px;
  height: 33px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.addToCartButton:hover {
  background-color: #45a049; /* dark green */
}

.actionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.quantityAndButton {
  display: flex;
  align-items: center;
  gap: 10px;
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modalContent {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  height: auto;
}

/* Backdrop styles (optional) */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.closeModal {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  font-size: 3rem; /* Adjust size as needed */
  color: #333; /* Adjust color as needed */
  z-index: 10;
}

.closeModal:hover {
  color: #222;
}


@media (max-width: 768px) {
.productInfo {
margin-right: 1rem;
}

.actionRow {
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
}