.wrap {
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
    padding: 5% 0;
    margin-bottom: 5em;
  }
  
  .projTitle {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding: 1em 0;
    border-bottom: 1px solid #dadada;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  .less {
    font-weight: normal;
    font-style: italic;
    text-transform: lowercase;
    color: #777;
  }
  
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000; /* Add a border to the top */
    border-bottom: 1px solid #D0D0D0;
    padding: 10px;
  }
  
  .heading h1 {
    font-size: 2em;
    float: left;
  }
  
  .continue {
    text-decoration: none;
    font-size: .75em;
    padding: 1em;
    color: #fff;
    background: #82ca9c;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
  }
  
  .continue:hover, .continue:focus, .continue:active {
    background: #f69679;
  }
  
  .cart {
    padding: 1em 0;
  }
  
  .cartWrap {
    list-style: none;
    padding: 0;
  }
  
  .itemsOdd, .itemsEven {
    display: block;
    width: 100%;
    padding: 1.5em;
    border-bottom: 1px solid #fafafa;
  }
  
  .itemsEven {
    background: #fafafa;
  }
  
  .infoWrap {
    display: table;
    width: 100%;
  }
  
  .cartSection {
    display: table-cell;
    vertical-align: middle;
  }
  
  .itemNumber {
    font-size: .75em;
    color: #777;
    margin-bottom: .5em;
  }
  
  .cartSection h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .025em;
  }
  
  .cartSection p {
    display: inline-block;
    font-size: .85em;
    color: #777777;
  }
  
  .qty {
    width: 2em;
    text-align: center;
    font-size: 1em;
    padding: .25em;
    margin: 1em .5em 0 0;
  }
  
  .itemImg {
    width: 8em;
    display: inline;
    padding-right: 1em;
  }
  
  .prodTotal {
    text-align: center;
  }
  
  .prodTotal p {
    font-weight: bold;
    font-size: 1.25em;
  }
  
  .stockStatus {
    color: #82CA9C;
    font-weight: bold;
    padding: .5em 0 0 1em;
    text-transform: uppercase;
  }
  
  .stockStatus.out {
    color: #F69679;
  }
  
  .removeWrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .remove {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background: #e0e0e0;
    padding: .5em;
    font-size: .75em;
    display: inline-block;
    border-radius: 100%;
    line-height: .85;
  }
  
  .remove:hover {
    background: #f30;
  }
  
  .promoCode {
    border: 2px solid #efefef;
    float: left;
    width: 35%;
    padding: 2%;
  }
  
  .promoCode label {
    display: block;
    width: 100%;
    font-style: italic;
    font-size: 1.15em;
    margin-bottom: .5em;
    letter-spacing: -.025em;
  }
  
  .promoCode input {
    width: 85%;
    font-size: 1em;
    padding: .5em;
    float: left;
    border: 1px solid #dadada;
  }
  
  .promoBtn {
    float: left;
    width: 15%;
    padding: .75em 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    border: 1px solid #82ca9c;
  }
  
  .promoBtn:hover {
    border: 1px solid #f69679;
    background: #f69679;
  }
  
  .subtotal {
    float: right;
    width: 35%;
  }
  
  .totalRow {
    padding: .5em;
    text-align: right;
  }
  
  .totalRow.final {
    font-size: 1.25em;
    font-weight: bold;
  }
  
  .totalRow .label {
    font-size: .85em;
    text-transform: uppercase;
    color: #777;
  }
  
  .totalRow .value {
    letter-spacing: -.025em;
    width: 35%;
  }
  
  @media only screen and (max-width: 39.375em) {
    .wrap {
      width: 98%;
      padding: 2% 0;
    }
  
    .projTitle {
      font-size: 1.5em;
      padding: 10% 5%;
    }
  
    .heading {
      padding: 1em;
      font-size: 90%;
    }
  
    .cart .itemsOdd, .cart .itemsEven {
      .cartSection {
        width: 90%;
        float: left;
      }
  
      .cartSection.qtyWrap {
        width: 10%;
        text-align: center;
        padding: .5em 0;
        float: right;
      }
  
      .cartSection.qtyWrap:before {
        content: "QTY";
        display: block;
        padding: .25em;
        font-size: .75em;
      }
  
      .cartSection.prodTotal, .cartSection.removeWrap {
        display: none;
      }
  
      .cartSection .itemImg {
        width: 25%;
      }
    }
  
    .promoCode, .subtotal {
      width: 100%;
    }
  
    .btn.continue {
      width: 100%;
      text-align: center;
    }
  }
  