.productsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .productsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .loadMoreButton {
    margin-top: 20px;
  }